# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Byte-complied / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Swap files
**/*.swp

# NPM files
node_modules/
bower_components/
static/dist/

# venv files
venv/

# Sphinx build files
docs/_*/
