# Byte-complied / optimized / DLL files
__pycache__/
*.py[cod]

# Django
db.sqlite3

local_settings.py


# Swap files
*.swp

# NPM files
node_modules/
bower_components/

static/dist/
files/
media/

# Sphinx build files
docs/_*/

# Virtualenv
venv/
.env

#local
local_settings.py

# Python mode
**/.ropeproject/
