# Byte-complied / optimized / DLL files
__pycache__/
*.py[cod]

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# Swap files
*.swp

# NPM files
node_modules/
bower_components/
static/dist/

# Sphinx build files
docs/_*/

# Virtualenv
venv/
