{% extends 'manager/base.jinja' %}

{% block main_area %}
{% set category=service.category %}
<div id="container">
  <div id="main" class="page-item container-fluid">
    <div id="main-content" class="row">
      <nav id="lnb" class="hidden-xs col-sm-2 list-group">
      {% for item in category.get_services(request.user) %}
        <a class="list-group-item {% if item == service %}lnb-selected{% endif %}" href="{{ item.get_absolute_url() }}">{{ item.name }}</a>
      {% endfor %}
      </nav>
      <article id="main-body" class="col-xs-12 col-sm-10">
        {% block content %}{% endblock %}
      </article>
    </div>
  </div>
</div>
{% endblock %}
