<footer id="footer">
  <div id="footer-wrapper" class="page-item">
    <div id="footer-container" class="container-fluid">
      <img src="{{ static('manager/images/title_bot.png') }}" alt="KAIST 학부 총학생회">
      <p><a href="tel:042-350-2072"><span class="glyphicon glyphicon-phone-alt"></span> +82-42-350-2072</a> <span class="div-line">|</span> <a href="mailto:kaistusc@kaist.ac.kr"><span class="glyphicon glyphicon-envelope"></span> KAISTusc@kaist.ac.kr</a></p>
      <p><a href="https://goo.gl/maps/RDi6w7gYitz" target="_blank"><span class="glyphicon glyphicon-home"></span> 대전광역시 유성구 대학로 291 KAIST N13-1 장영신 학생회관 301호 총학생회실</a></p>
    </div>
  </div>
</footer>
