<footer id="footer">
  <div id="footer-wrapper" class="page-item">
    <div id="footer-container" class="container-fluid">
      <img src="{{ static('manager/images/title_bot.png') }}" alt="{{ _('KAIST 학부 총학생회') }}">
      <div id="footer-info">
        <p><a href="tel:042-350-2072"><i class="fa fa-phone"></i> +82-42-350-2072</a> <span class="div-line">|</span> <a href="mailto:kaistusc@kaist.ac.kr"><i class="fa fa-envelope"></i> KAISTusc@kaist.ac.kr</a></p>
        <p><a href="https://goo.gl/maps/RDi6w7gYitz" target="_blank"><i class="fa fa-map-marker"></i> {{ _('34141 대전광역시 유성구 대학로 291 KAIST N13-1 장영신 학생회관 301호 총학생회실') }}</a></p>
      </div>
    </div>
  </div>
</footer>
