{% from 'ksso/macros.jinja' import name %}

<header id="header" class="navbar navbar-default">
  <div id="sta" class="container-fluid navbar-header page-item">
    <div id="tb-top" class="collapse navbar-collapse">
    {% if request.user.is_authenticated() %}
      <a href="/user/logout/?next={{ request.path }}" title="Logout">{{ name(request.user) }} Logout</a>|<a href=".?{{ _('lang=en') }}">{{ _('View in English') }}</a>
    {% else %}
      <a href="/user/login/?next={{ request.path }}" title="Login">Login</a>|<a href=".?{{ _('lang=en') }}">{{ _('View in English') }}</a>
    {% endif %}
    </div>
    <button type="button" id="side-nav-toggle" class="navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{ static('manager/images/title_top.png') }}" alt="{{ _('KAIST 학부 총학생회') }}"></a>
  </div>
  <div id="gnb" class="container-fluid dropdown collapse navbar-collapse">
    <div id="gnb-menu-container" class="row dropdown-toggle" data-toggle="dropdown">
    {% for item in navigator[:4] %}
      <div class="gnb-menu"><a href="{{ item.category.get_absolute_url() }}">{{ item.category }}</a></div>
    {% endfor %}
    </div>
    <div id="gnb-svc-wrapper" class="dropdown-menu">
      <div id="gnb-svc-container" class="row">
      {% for item in navigator[:4] %}
        <ul class="gnb-svc-col list-group">
        {% for service in item.services %} 
          <a href="{{ service.get_absolute_url() }}" class="list-group-item">{{ service.name }}</a>
        {% endfor %}
        </ul>
      {% endfor %}
      </div>
    </div>
  </div>
</header>
