{% from 'ksso/macros.jinja' import name %}

<header id="header" class="navbar navbar-default">
  <div id="sta" class="container-fluid navbar-header page-item">
    <div id="tb-top" class="collapse navbar-collapse">
    {% if request.user.is_authenticated() %}
      <a href="/user/logout/?next={{ request.path }}" title="Logout">{{ name(request.user) }} Logout</a>|<a href=".?{{ _('lang=en') }}">{{ _('View in English') }}</a>
    {% else %}
      <a href="/user/login/?next={{ request.path }}" title="Login">Login</a>|<a href=".?{{ _('lang=en') }}">{{ _('View in English') }}</a>
    {% endif %}
    </div>
    <button type="button" id="side-nav-toggle" class="navbar-toggle">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{ static('manager/images/title_top.png') }}" alt="{{ _('KAIST 학부 총학생회') }}"></a>
  </div>
  <div id="gnb" class="container-fluid dropdown collapse navbar-collapse">
    <div id="gnb-menu-container" class="row dropdown-toggle" data-toggle="dropdown">
    {% for item in navigator[:4] %}
      {% if item.services %}
      <div class="gnb-menu">
        <a class="effect-underline" href="{{ item.category.get_absolute_url(request.user) }}">{{ item.category }}</a>
      </div>
      {% endif %}
    {% endfor %}
    </div>
    <div id="gnb-svc-wrapper" class="dropdown-menu">
      <div id="gnb-svc-container" class="row">
      {% for item in navigator[:4] %}
        {% if item.services %}
          <ul class="gnb-svc-col list-group">
          {% for item_service in item.services %} 
            <a href="{{ item_service.get_absolute_url() }}" class="{% if service == item_service %}text-selected{% endif %} effect-underline list-group-item">{{ item_service.name }}</a>
          {% endfor %}
        {% endif %}
        </ul>
      {% endfor %}
      </div>
    </div>
  </div>
</header>
