{% extends 'manager/base.jinja' %}

{% block main_area %}
<div id="container">
  {% if topBanner %}
  {% include 'manager/top_banner.jinja' %}
  {% endif %}
  <div id="main-spot" class="spot hidden-xs">
    <div class="page-item container-fluid spot-container">
      <div class="spot-wrap">
        <div class="spot-item-container">
          <div class="spot-item col-xs-3" onclick="location.href='/';">
            <div class="spot-text">
              <p><b>{{ _('총학생회 소개') }}</b></p>
              <p>{{ _('Introduction') }}</p>
            </div>
          </div>
          <div class="spot-item col-xs-3" onclick="location.href='/';">
            <div class="spot-text">
              <p><b>{{ _('공약 및 사업') }}</b></p>
              <p>{{ _('Works') }}</p>
            </div>
          </div>
          <div class="spot-item col-xs-3" onclick="location.href='/';">
            <div class="spot-text">
              <p><b>{{ _('건의사항') }}</b></p>
              <p>{{ _('Recomm.') }}</p>
            </div>
          </div>
          <div class="spot-item col-xs-3" onclick="location.href='/ot';">
            <div class="spot-text">
              <p><b>{{ _('새터 공연 투표') }}</b></p>
              <p>{{ _("Vote for Freshman OT") }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="main-page" class="page-item container-fluid">
    <div class="row">
      {% if bannerCarousel %}
      <div class="col-sm-12">
        {% include 'board/banner_carousel.jinja' %}
      </div>
      {% endif %}
      <div class="clearfix"></div>
      <div id="main-page-content" class="container-fluid">
      <div class="row">
        <div id="main-board-list" class="col-sm-6">
          {% for board in boards %}
          {% include 'board/post_list/post_list_min.jinja' %}
          {% endfor %}
        </div>
        <div class="col-sm-6">
          <div id="fb-root""></div>
          <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=551602898355546";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-page" data-href="https://www.facebook.com/kaistusc/" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/kaistusc/"><a href="https://www.facebook.com/kaistusc/">KAIST 학부 총학생회</a></blockquote></div></div>
        </div>
        </div>
      </div>
    </div>
    <div id="fnb" class="row">
      <div class="fnb-title text-center col-sm-1"><b>OTHER</b></div>
      <div class="fnb-content col-sm-11">
        <ul class="fnb-box fnb-first list-inline">
          <li><a href="http://ara.kaist.ac.kr/" target="_blank">ARA</a></li>
          <li><a href="https://bamboofo.rest/" target="_blank">대나무숲</a></li>
          <li><a href="https://www.facebook.com/KAISTusc/" target="_blank">페이스북</a></li>
          <li><a href="https://gsa.kaist.ac.kr/" target="_blank">대학원총학생회</a></li>
          <li><a href="http://club.kaist.ac.kr/" target="_blank">학부동아리연합회</a></li>
          <li><a href="http://imgeffect.kaist.ac.kr/" target="_blank">상상효과</a></li>
          <li><a href="http://scspace.kaist.ac.kr/" target="_blank">학생문화공간위원회</a></li>
          <li><a href="http://welfare.kaist.ac.kr/" target="_blank">학생복지위원회</a></li>
        </ul>
        <ul class="fnb-box list-inline">
          <li><a href="https://vote.kaist.ac.kr/" target="_blank">VOTE</a></li>
          <li><a href="http://mail.kaist.ac.kr/" target="_blank">MAIL</a></li>
          <li><a href="https://klms.kaist.ac.kr/" target="_blank">KLMS</a></li>
          <li><a href="https://portal.kaist.ac.kr/" target="_blank">PORTAL</a></li>
          <li><a href="https://clinic.kaist.ac.kr/" target="_blank">CLINIC</a></li>
          <li><a href="https://urs.kaist.ac.kr/" target="_blank">URS</a></li>
          <li><a href="https://otl.kaist.ac.kr/" target="_blank">OTL</a></li>
          <li><a href="http://www.kaist.ac.kr/" target="_blank">KAIST</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  function is_mobile() {
   if( navigator.userAgent.match(/Android/i)
   || navigator.userAgent.match(/webOS/i)
   || navigator.userAgent.match(/iPhone/i)
   || navigator.userAgent.match(/iPad/i)
   || navigator.userAgent.match(/iPod/i)
   || navigator.userAgent.match(/BlackBerry/i)
   || navigator.userAgent.match(/Windows Phone/i)
   ){
      return true;
    }
   else {
      return false;
    }
  }

  if(is_mobile()) {
  }
  </script>
{% endblock %}
