{% from 'ksso/macros.jinja' import name %}

<div id="side-user-info" class="container-fluid">
{% if request.user.is_authenticated() %}
  <p><i class="fa fa-user-circle"></i> {{ name(request.user) }}</p>
  <a class="btn btn-primary btn-block" href="/user/logout/?next={{ request.path }}">Logout</a>
{% else %}
  <a class="btn btn-primary btn-block" href="/user/login/?next={{ request.path }}">Login</a>
{% endif %}
  <a class="btn btn-default btn-block" href="./?{{ _('lang=en') }}">{{ _('View in English') }}</a>
</div>
<nav id="side-nav" class="container-fluid navbar navbar-default">
  <ul class="nav navbar-nav">
  {% for item in navigator %}
    {% if item.services %}
      <li class="dropdown {% if service is defined and item.category == service.category %}current-menu{% endif %}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.category.get_absolute_url(request.user) }}">{{ item.category.name }}</a>
        <ul class="dropdown-menu">
        {% for service in item.services %}
          <li><a href="{{ service.get_absolute_url() }}">{{ service.name }}</a></li>
        {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
