{% extends 'manager/app_base.jinja' %}

{% from 'ksso/macros.jinja' import info %}
{% from 'revision/panel.jinja' import panel %}

{%- macro revision_type(rule_item) -%}
<small><span class="label label-{% if rule_item.revision_class == 'new' %}primary{% elif rule_item.revision_class == 'revised' %}warning{% else %}success{% endif %}">{% if rule_item.revision_class == 'new' %}신설{% elif rule_item.revision_class == 'revised' %}개정{% else %}유지{% endif %}</span></small>
{%- endmacro -%}

{% block content %}
<div id="container" class="rule-item">
    <h3><b>KAIST 학부 총학생회 학생회칙 전부개정</b></h3>
    <hr/>
    <div class="panel panel-primary">
        <div class="panel-heading">
            모두가 함께 만드는 학생회칙
        </div>
        <div class="panel-body rule-discussion-help">
            <p><b>학생회칙은 학우 모두의 것입니다.</b></p>
            <p>이 개정 플랫폼을 통해 학우 여러분들은 회칙개정에 대한 의견을 손쉽게 주고받을 수 있습니다. 아직 로그인을 하시지 않으셨다면 포탈 계정으로 <a href="/user/login">로그인</a> 해보시는 게 어떨까요?</p>
        </div>
    </div>
    {% call panel('최근논의', 'primary', list=True) %}
    {% for discussion in recent_discussion %}
    <li class="list-group-item revision-recent-disc" onclick="window.location='{{ discussion.get_rule_item().get_revision_url() }}';">
        <p class="revision-recent-disc-loca">{{ discussion.get_rule_item().verbose }}</p>
        <p class="revision-recent-disc-subject">{{ discussion.subject }}</p>
        <p class="revision-recent-disc-info">{{ info(discussion.comments.order_by('-date_created').first().author) }} | {{ discussion.comments.order_by('-date_created').first().date_created }}</p>
    </li>
    {% endfor %}
    {% endcall %}
    {% call panel('목차', 'primary') %}
    <ul class="rule-discussion-navi">
        <li><a href="{{ rule.get_revision_url() }}">{{ revision_type(rule) }} 제목 및 연혁</a></li>
        {% for chapter in rule.d_chapters %}
        <li>
            <a href="{{ chapter.get_revision_url() }}">{{ revision_type(chapter) }} {{ chapter.verbose }}</a>
            {% if chapter.d_chapters or chapter.d_articles %}
            <ul>
            {% for section in chapter.d_chapters %}
                <li>
                    <a href="{{ section.get_revision_url() }}">{{ revision_type(section) }} {{ section.verbose }}</a>
                    {% if section.d_articles %}
                    <ul>
                    {% for article in section.d_articles %}
                        <li><a href="{{ article.get_revision_url() }}">{{ revision_type(article) }} {{ article.verbose }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
            <li><ul>
            {% for article in chapter.d_articles %}
                <li><a href="{{ article.get_revision_url() }}">{{ revision_type(article) }} {{ article.verbose }}</a></li>
            {% endfor %}
            </ul></li>
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endcall %}
</div>
{% endblock %}
