{% extends 'manager/base.jinja' %}

{% from 'ksso/macros.jinja' import name %}

{% block main_area %}
<div id="container" class="spot">
  <div id="main" class="page-item container-fluid" style="padding-bottom: 14px;">
    <div class="page-header">
      <h1><i class="fa fa-check-square-o"></i> <strong>{{ _('정보제공 동의절차') }}</strong></h1>
    </div>
    <p class="lead">최초 로그인 시 아래 개인정보를 총학생회에 제공함에 동의하셔야 합니다.</p>
    <p class="lead">
    <span class="label label-default">{{ _('이름') }}</span>
    <span class="label label-default">{{ _('고유번호(UID)') }}</span>
    <span class="label label-default">{{ _('학위과정') }}</span>
    <span class="label label-default">{{ _('학번') }}</span>
    <span class="label label-default">{{ _('학적상태') }}</span>
    <span class="label label-default">{{ _('생년월일') }}</span>
    <span class="label label-default">{{ _('성별') }}</span>
    <span class="label label-default">{{ _('학과') }}</span>
    <span class="label label-default">{{ _('메일주소') }}</span>
    <span class="label label-default">{{ _('전화번호') }}</span>
    </p>
    <p>{{ _('본 홈페이지는 총학생회가 학교당국에 적법한 절차를 통해 사용을 허가받은 <strong>KAIST Single Auth Service 3.0</strong>을 이용하여 사용자 관리를 하고 있습니다. 이 과정에서 학교당국이 제공하는 개인정보가 총학생회 DB 서버에 저장이 되게 됩니다.') }}</p>
    <p>{{ _('학내 구성원의 개인정보자기결정권 보장을 위하여 총학생회는 학교당국과의 협의와는 별개로 개인정보 저장사실을 실사용자에게 고지하고 그 동의를 구하는 절차입니다.') }}</p>
    <p>{{ _('동의 이후 총학생회 공식소통창구를 통하여 정보파기를 요청할 수 있습니다. 동의를 하지 않을 시 본 홈페이지에 로그인 하실 수 없습니다.') }}</p>
    <hr />
    {% if is_signed_up %}
    <p class="lead text-center"><strong>{{ _('이미 동의하셨습니다.') }}</strong></p>
    {% endif %}
    <p class="text-center">
    <a href="/user/signup/agree" class="btn btn-primary {% if is_signed_up %}disabled{% endif %}">{{ _('동의함') }}</a>
    <a href="/user/signup/disagree" class="btn btn-danger {% if is_signed_up %}disabled{% endif %}">{{ _('동의하지 않음') }}</a>
    </p>
  </div>
</div>
{% endblock %}
