{% load staticfiles %}

<header id="header" class="navbar navbar-default">
  <div id="sta" class="container-fluid navbar-header page-item">
    <div id="tb-top" class="collapse navbar-collapse">
      <a href="/" title="Login">LOGIN</a>|<a href="/">SITEMAP</a>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{% static 'manager/images/title_top.png' %}" alt="KAIST 학부 총학생회"></a>
  </div>
  <div id="gnb" class="container-fluid dropdown collapse navbar-collapse">
    <div id="gnb-menu-container" class="row dropdown-toggle" data-toggle="dropdown">
      <div class="gnb-menu col-xs-3"><a href="/">[메뉴 #1]</a></div>
      <div class="gnb-menu col-xs-3"><a href="/">[메뉴 #2]</a></div>
      <div class="gnb-menu col-xs-3"><a href="/">[메뉴 #3]</a></div>
      <div class="gnb-menu col-xs-3"><a href="/">[메뉴 #4]</a></div>
    </div>
    <div id="gnb-svc-wrapper" class="dropdown-menu">
      <div id="gnb-svc-container" class="row">
        <ul class="gnb-svc-col col-sm-3 list-group">
          <a href="/" class="list-group-item">[서비스 #1]</a>
          <a href="/" class="list-group-item">[서비스 #2]</a>
        </ul>
        <ul class="gnb-svc-col col-sm-3 list-group">
          <a href="/" class="list-group-item">[서비스 #3]</a>
        </ul>
        <ul class="gnb-svc-col col-sm-3 list-group">
          <a href="/" class="list-group-item">[서비스 #4]</a>
          <a href="/" class="list-group-item">[서비스 #5]</a>
          <a href="/" class="list-group-item">[서비스 #6]</a>
        </ul>
        <ul class="gnb-svc-col col-sm-3 list-group">
          <a href="/" class="list-group-item">[서비스 #7]</a>
          <a href="/" class="list-group-item">[서비스 #8]</a>
        </ul>
      </div>
    </div>
  </div>
</header>
