//
// Board
// --------------------------------------------------


//== 기본 레이아웃
//
//##
#clear{
  clear:both;
  height: 0;
  overflow: hidden;
}

.tag-item {
  padding: 1px;
  width: 52px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: $font-size-xm;
  font-weight: bold;
  color: #fefefe;
  text-align: center;
  cursor: pointer;
}


//== 게시판 헤더
//
//##

#board-header, #board-tag-list {
  margin-bottom: 8px;
  position: relative;
}

#board-title {
  margin-left: 10px;
  font-size: 26pt;
  font-weight: bold;
}

#board-tag-btn {
  cursor: pointer;
  font-size: $font-size-sm;
  font-weight: bold;
  color: #717071;
}

#board-tag-list li {
  margin-left: 6px;
  list-style: none;
}


//== 포스트 목록
//
//##

#post-list {
  thead {
    border-bottom: solid 2px #9f9fa0;
    font-size: 12pt;
  }

  tbody tr {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    font-size: $font-size-sm;
    cursor: pointer;

    &.notice .post-list-title{
      font-weight: bold;
    }
  }

  td {
    vertical-align: middle;
  }

  .post-list-dom-width {
    width: 55%;
  }

  .post-list-mobile {
    margin-top: 4px;
    font-size: $font-size-xm;
  }
}

#product-list {


  #product-list-header-category {
    background: none;
    border: none;
  }
  .dropdown-menu {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
    li {
      cursor: pointer;
    }
  }
  thead {
    border-bottom: solid 2px #9f9fa0;
    font-size: 12pt;
  }

  tbody tr {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    &:hover {
      background: #fff;
    }
    &:nth-child(even) {
      background: $bg-primary-light;
    }
  }

  td {
    vertical-align: middle;
  }

  .product-delete-btn {
    cursor: pointer;
    &:hover {
      color: $gray-2;
    }
  }

  #product-form-row {
    #product-add-btn {
      line-height: 35px;
      cursor: pointer;
      &:hover {
        i {
          color: $brand-primary-hover;
        }
      }
    }

    td:not(#product-add-btn) {
      display: none;
    }
    td {
      padding-top:0;
      padding-bottom: 0;
      position: relative;
    }
    input {
      height: 35px;
      border: none;
      background: transparent;
      text-align: center;
      padding: 0 30px;
    }
    #product-submit-btn {
      font-size: 18px;
      cursor: pointer;
      &:hover {
        color: #509c51;
      }
    }
    button {
      span {
        text-align: center;
      }
      background: transparent;
      border: none;
      box-shadow: none;
      outline: none !important;
    }
    ul {
      text-align: center;
    }
  }
}

.debate-state{
  margin-right: 5px;
  padding: 4px 6px;
  color:white;
  font-weight: bold;
  border-radius: 10%;
}

.debate-ongoing{
  background: orange;
}
.debate-finished{
  background: gray;
}
.debate-waiting{
  background: navy;
}

//== 게시판 기능
//
//##

#board-func .pagination {
    margin-bottom: 0;
}

#search-form {
  margin: $line-height-computed 0;
}

//== 포스트
//
//##

#post-wrap {
  margin-bottom: 28px;
}

#post-header {
  margin-bottom: 20px;
  padding: 10px 12px 7px 13px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $bg-primary-light;
}

#post-title {
  font-size: 13pt;
}

#post-info {
  margin-top: 18px;
}

#post-content {
  padding: 0 10px;
}

#post-func {
  padding: 30px 0 50px 0;
  form {
    display: inline-block;
  }
  .pull-right {
    margin-top: 10px;
  }
}

#post-up button {
  color: #cc5f5f;
}

#post-down button {
  color: #337ab7;
}

#attached-file {
  padding: 10px 10px 25px;
  border-bottom: 1px solid #ddd;
  font-size: 10pt;
  p {
    margin-bottom: 5px;
  }
}

#comment-attached-file {
  padding: 10px 10px 0 25px;
  font-size: 10pt;
  p {
    margin-bottom: 5px;
  }
}

#comment-list{
  position: relative;
  .comment {
    padding: 6px 0 15px 0;
    border-left: 14px solid $bg-primary;
    border-bottom: 1px solid #ddd;
    &:nth-child(even) {
      border-left-color: $bg-primary-lighter;
    }
    &:first-child {
      border-top: 1px solid #ddd;
    }
    .comment-header {
      margin: 0 12px 12px;
    }
    .comment-content {
      padding: 0 10px 0 25px;
      p {
        margin-bottom: 12px;
      }
    }
    .comment-remove {
      cursor: pointer;
      color: #717071;
    }
  }
  .comment-content-deleted {
    padding: 12px 0 0 12px;
    color: $gray-4;
  }

  #comment-prev-btn {
    width: 100%;
    text-align: center;
    border-bottom: none;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 12px;
    height: 40px;
    z-index: 1;
    span {
      z-index: 5;
      position: relative;
      color: $gray-2;
      cursor: pointer;
      &:hover {
        color: $gray-3;
      }
    }
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(255,255,255,0)),
        to(rgba(255,255,255,1)), color-stop(1,#fff)
      );
    }
  }
}

#comment-form {
  margin-bottom: 28px;
  #comment-form-content-wrap {
    textarea {
      height: auto;
      resize: none;
      overflow-y: auto;
      max-height: 300px;
    }
  }
  #comment-form-file {
    width: 100%;
    z-index: 3;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
  }
}

//== 포스트 폼
//
//##
#post-form {

  .form-inline {
    margin: 15px 0;
  }
  .form-group {
    @media (min-width: $screen-sm-min) {
      margin-right: 12px;
    }
  }
  .input-group {
    .form-control {
      height: 34px;
    }
  }
}

#btn-comment-form {
  color: #fff;
  background-color: $brand-primary;
  &:hover {
    border: 1px solid #ccc;
    border-left: none;
    background-color: $brand-primary-hover;
  }
}

#file-func {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  .prev-file,
  .attach-file {
    margin: 3px 0;
    display: flex;
    align-items: center;
  }
  .prev-file-name,
  .attach-file input {
    flex: 1;
    display: inline-block;
  }
  .prev-file-name {
    padding: 2px 4px;
  }
  .file-more,
  .file-del,
  .prev-file-del {
    margin-left: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
  i {
    padding: 0 10px;
  }
}

.comment-wrapper{
  border: 1px solid #ccc; 
  width: 100%;
  position: relative;
}

#attach-file-wrap{
  width: 100%;
}
.comment-button{
  width: 10%;
  position: absolute;
  right: 0;
  height: 100%;
}

#comment-area{
  border-radius: 0px;
  border: none;
  -webkit-tap-highlight-color:none;
  border-bottom: 1px solid #ccc; 
}

.comment-input{
  width: 90%;
}

.filter-checkbox{
  float:right;
  padding-right: 15px;
  padding-bottom: 5px;
  @media (max-width: $screen-sm-min) {
    margin: $line-height-computed 0;
  }
}

#post-list-header-tag {
  background: none;
  border: none;
}

#post-list-header-tag-dropdown {
  min-width: 0;
  li {
    padding: 2px 3px;
  }
}