//
// Board
// --------------------------------------------------


//== 기본 레이아웃
//
//##

.tag-item {
  padding: 1px;
  width: 52px;
  display: inline-block;
  border: 1px solid #dcdcdd;
  border-radius: 5px;
  font-size: $font-size-xm;
  font-weight: bold;
  color: #fefefe;
  text-align: center;
  cursor: pointer;
}


//== 게시판 헤더
//
//##

#board-header, #board-tag-list {
  margin-bottom: 8px;
  position: relative;
}

#board-title {
  margin-left: 10px;
  font-size: 26pt;
  font-weight: bold;
}

#board-tag-btn {
  cursor: pointer;
  font-size: $font-size-sm;
  font-weight: bold;
  color: #717071;
}

#board-tag-list li {
  margin-left: 6px;
  list-style: none;
}


//== 포스트 목록
//
//##

#post-list {
  thead {
    border-bottom: solid 2px #9f9fa0;
    font-size: 12pt;
  }

  tbody tr {
    border-top: solid 1px #dcdcdd;
    border-bottom: solid 1px #dcdcdd;
    font-size: $font-size-sm;
    cursor: pointer;

    &.notice .post-list-title{
      font-weight: bold;
    }
  }

  td {
    vertical-align: middle;
  }

  .post-list-dom-width {
    width: 55%;
  }

  .post-list-mobile {
    margin-top: 4px;
    font-size: $font-size-xm;
  }
}


//== 게시판 기능
//
//##

#board-func .pagination {
    margin-bottom: 0;
}

#search-form {
  margin: $line-height-computed 0;
}

//== 포스트
//
//##

#post-wrap {
  margin-bottom: 28px;
}

#post-header {
  margin-bottom: 20px;
  padding: 10px 12px 7px 13px;
  border-top: 3px solid #717071;
  border-bottom: 2px solid #9f9fa0;
  background-color: #f7f7f7;
}

#post-title {
  font-size: 13pt;
}

#post-info {
  margin-top: 18px;
}

#post-content {
  padding: 0 10px;
}

#post-vote {
  padding: 30px 0;
  border-bottom: 1px solid #dcdcdd;
  form {
    display: inline-block;
  }
}

#post-up button {
  color: #cc5f5f;
}

#post-down button {
  color: #337ab7;
}

#attached-file {
  padding: 10px 10px 25px;
  border-bottom: 1px solid #dcdcdd;
  font-size: 10pt;
  p {
    margin-bottom: 5px;
  }
}

#comment-list .comment {
  padding-top: 6px;
  border-left: 14px solid #dcdcdd;
  &:nth-child(even) {
    border-left-color: #eeefef;
  }
  border-bottom: 1px solid #dcdcdd;
  .comment-header {
    margin: 0 12px 12px;
  }
  .comment-content {
    padding: 0 10px 20px 25px;
    p {
      margin-bottom: 12px;
    }
  }
  .comment-remove {
    cursor: pointer;
    color: #717071;
  }
}

#comment-form {
  margin-top: 28px;
}

#post-func {
  margin-top: 58px;
}


//== 포스트 폼
//
//##
#post-form {

  .form-inline {
    margin: 15px 0;
  }
  .form-group {
    @media (min-width: $screen-sm-min) {
      margin-right: 12px;
    }
  }
  .input-group {
    .form-control {
      height: 34px;
    }
  }
}

#file-func {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  .prev-file,
  .attach-file {
    margin: 3px 0;
    display: flex;
    align-items: center;
  }
  .prev-file-name,
  .attach-file input {
    flex: 1;
    display: inline-block;
  }
  .prev-file-name {
    padding: 2px 4px;
  }
  .file-more,
  .file-del,
  .prev-file-del {
    margin-left: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
  i {
    padding: 0 10px;
  }
}

#post-list-header-tag {
  background: none;
  border: none;
}

#post-list-header-tag-dropdown {
  min-width: 0;
  li {
    padding: 2px 3px;
  }
}