.contact{
	border: 1px solid gainsboro;
	border-radius: 0.5em;
	margin-bottom: 10px;
}
.contact-wrapper{
	padding:5px 15px 15px 10px;
}
.contact-title{
	border-bottom: 1px solid gainsboro;
	margin-bottom: 5px;
}
.contact-text{
	display: block;
}
.contact-link{
	color: #7ebbef;

}

.contact-func{
	right: 0;
	margin-top: 5px;
}