//
// Footer
// --------------------------------------------------


#footer {
    position: relative;
    z-index: $main-high-zindex;
    background-color: $bg-primary-lighter;
  }
  
  #footer-wrapper {
    padding: $footer-margin-top 0 $footer-margin-bot 0;
  }
  
  #footer-container {
    position: relative;
    display: flex;
    align-items: start;
    img {
      width: $footer-img-width;
      margin-right: $footer-img-gap;
    }
    p {
      margin: 0;
      font-size: $footer-font-size;
      color: $footer-text-color;
      line-height: $footer-line-height;
    }
    a {
      @include disable-effect();
    }
    .div-line {
      margin: 0 4px;
    }
  }
  