#main-spot {
  .spot-wrap {
    position: relative;
  }
  .spot-item-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .spot-item {
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
    &:nth-child(even) {
      background-color: rgba(255, 255, 255, .5);
    }
  }
  .spot-text {
    margin: 60px 14px 0;
    padding-left: 7px;
    border-left: 3px solid #333333;
    font-size: 20pt;
    color: #333333;
    p {
      margin: 0;
      padding: 0;
    }
  }
}
#main-page {}
.fb-page,
.fb-page iframe[style],
.fb-page span {
  width: 100% !important;
}
#fnb {
  margin-top: 25px;
  margin-bottom: 18px;
  .fnb-title {
    padding: 0;
    height: 54px;
    line-height: 54px;
    font-size: 12pt;
    color: #333333;
    background-color: #dddddd;
  }
  .fnb-content {
    padding: 0;
    @media (min-width: $screen-sm-min) {
      padding-left: 4px;
    }
  }
  .fnb-box {
    margin: 0;
    padding-left: 14px;
    background-color: #eeeeee;
    font-size: 9pt;
    font-weight: bold;
    line-height: 24px;
  }
  .fnb-first {
    margin-bottom: 6px;
  }
}

#main-board-list .main-board { 
  margin-bottom: 32px;
  table-layout: fixed;
  caption {
    margin-bottom: 8px;
    border-bottom: 1px solid #666666;
    font-size: 16pt;
    font-weight: bold;
    color: #333333;
  }
  tr {
    cursor: pointer;
  }
  td {
    padding: 4px 8px;
    border: 0;
    &.text-left {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.text-right {
      width: 110px;
    }
  }
}
