.page_container {
    display: flex;
    justify-content: center;
  }
  
  canvas {
    padding: 1em 0;
  }
  
  .page_container canvas {
    &:nth-of-type(odd) {
      margin-left: 1em;
      margin-right: 0;
    }
    &:nth-of-type(even) {
      margin-right: 1em;
      margin-left: 0;
    }
    &:nth-of-type(3) {
      padding-left: 1em;
    }
  }