$project-timeline-point-radius: 9px;
$project-timeline-point-interval: 20%;



@mixin project-timeline-top() {
    position: absolute;
    text-align: center;
    bottom: 100%;
    margin: 20px 0;
    width: 100%;
}

@mixin project-timeline-bottom() {
    position: absolute;
    text-align: center;
    top: 100%;
    margin: 20px 0;
    width: 100%;
}

@mixin project-timeline-line() {
    &:before {
        content:"";
        width: 100%;
        height: 100%;
        height: 3px;
        background-color: $bg-primary-lighter;
        position: absolute;
    }
}

@keyframes bounceIn {
    from,
    50%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    50% {
        transform: scale3d(0.95, 0.95, 0.95);
    }
    to {
        transform: scale3d(1.1, 1.1, 1.1);
    }
}

#project-timeline {
    margin-top: 30px;
    width: 100%;
    height: 140px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    @include project-timeline-line();

    .project-timeline-nav-button {
        position: absolute;
        align-self: baseline;
        z-index: 2;
        font-size: 20px;
        color: $brand-primary;
        display: none;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: $brand-primary-hover;
        }
    }
    .fa-chevron-left {
        left: 10px;
    }
    .fa-chevron-right {
        right: 10px;
    }
}

#project-timeline-slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

#project-timeline-points {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}  

#project-timeline-current {
    position: absolute;
    z-index: 2;
    left: calc(50% - 10px);
    i {
        font-size: 20px;
        color: $brand-primary-darker;
        animation: bounceIn 3s  infinite;
        margin-bottom: 25px;
        width: 20px;
    }
}

.project-timeline-point {
    z-index: 1;
    flex-shrink: 0;
    width: $project-timeline-point-interval;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include project-timeline-line();
    &:after {
        content:"";
        width: $project-timeline-point-radius*2;
        height: $project-timeline-point-radius*2;
        border-radius: $project-timeline-point-radius;
        border: 2px solid $brand-primary;
        background-color: white;
        position: absolute;
    }
    .project-timeline-date {
        font-size: 18px;
        font-weight: bold;
        color: $brand-primary;
        line-height: 20px;
    }
    .project-timeline-title {
        font-size: 16px;
        line-height: 20px;
        color: $gray-2;
    }
    &:nth-child(odd) {
        .project-timeline-date {
            @include project-timeline-bottom();
        }
        .project-timeline-title {
            @include project-timeline-top();
        }
    }
    &:nth-child(even) {
        .project-timeline-date {
            @include project-timeline-top();
        }
        .project-timeline-title {
            @include project-timeline-bottom();
        }
    }
}
