//
// Service
// --------------------------------------------------


//== Base layout
//
//##

#main {
  position: relative;
  background-color: $body-bg;
  box-shadow: $service-base-shadow;
}


//== Service header
//
//##

#main-header {
  position: relative;
  img {
    width: 100%;
  }
}

.main-header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid $service-base-border;
}

.main-header-item {
  display: table;
  height: 100%;
  background-color: $service-category-bg;
  text-align: center;
  span {
    display: table-cell;
    vertical-align: middle;
    font-family: $font-family-script;
    font-size: $service-title-font-size;
    color: $gray-dark;
  }
}


//== Main content
//
//##

// LNB와 컨텐츠 열 높이 같게 설정
#main-content {
  display: flex;
  flex-wrap: wrap;
  & > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

#main-body {
  padding-top: $service-padding-vertical;
  padding-bottom: $service-padding-vertical;
  // 와이드 스크린일 경우 기본값(15px)보다 크게 설정
  @media (min-width: $grid-float-breakpoint) {
    padding-left: $service-padding-horizontal;
    padding-right: $service-padding-horizontal;
  }
}


//== Local navigation bar
//
//##

.main-header-item,
#lnb {
  border-right: 1px solid $service-base-border;
}

#lnb {
  margin: 0;
  padding: $service-lnb-padding;
  .list-group-item {
    position: relative;
    margin-top: $service-lnb-item-gap;
    border: 0;
    border-radius: $service-lnb-radius 0 0 $service-lnb-radius;
    font-weight: bold;
  }
  .list-group-item.lnb-selected {
    background-color: #a0a0a0;
    color: $body-bg;
    & > .lnb-arrow {
      position: absolute;
      top: $service-lnb-arrow-top;
      right: $service-lnb-arrow-right;
      width: 0px;
      height: 0px;
      border-width: $service-lnb-arrow-size;
      border-style: solid;
      border-color: transparent $body-bg transparent transparent;
    }
  }
}
