//
// Service
// --------------------------------------------------


//== Base layout
//
//##

#main {
  position: relative;
  background-color: $body-bg;
}


//== Service header
//
//##

#main-header {
  position: relative;
  border-bottom: 1px solid $service-base-border;
  img {
    width: 100%;
  }
}

//== Main content
//
//##

// LNB와 컨텐츠 열 높이 같게 설정
#main-content {
  display: flex;
  flex-wrap: wrap;
  & > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

#main-body {
  padding-top: $service-padding-vertical;
  padding-bottom: $service-padding-vertical;
  // 와이드 스크린일 경우 기본값(15px)보다 크게 설정
  @media (min-width: $grid-float-breakpoint) {
    padding-left: $service-padding-horizontal;
    padding-right: $service-padding-horizontal;
  }
}


//== Local navigation bar
//
//##

.main-header-item {
  border-right: 1px solid $service-base-border;
}

#lnb {
  margin: 0;
  padding: $service-lnb-padding;
  .list-group-item {
    position: relative;
    margin-top: $service-lnb-item-gap;
    border: 0;
    font-weight: bold;
    border-radius: 0px;
    box-sizing: border-box;
    &:hover {
      background-color: $body-bg;
      border-left: solid $service-lnb-selected-border $brand-primary-lighter;
      padding-left: 15px - $service-lnb-selected-border;
      transition: border-width 0.1s ease-in, padding 0.1s ease-in;
    }
  }
  .list-group-item.lnb-selected {
    color: $brand-primary;
    border-left: solid $service-lnb-selected-border $brand-primary-lighter;
    padding-left: 15px - $service-lnb-selected-border;
  }
}
