//
// Custom variables
// --------------------------------------------------


//== Fonts
//
//##

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

$font-family-sans-serif:  "Nanum Gothic", sans-serif;
$font-family-script:      "Nanum Pen Script", serif;

$font-size-base:          11pt;
$font-size-lg:            16pt;
$font-size-sm:            10pt;
$font-size-xm:            9pt;


//== Animation
//
//##

$basic-anim-time:         .5s;


//== Color scheme
//
//##

$brand-primary: #7ebbef;
$brand-primary-darker: darken($brand-primary, 10%);
$brand-primary-lighter: lighten($brand-primary, 10%);
$brand-primary-hover: #51a3e9;
$bg-primary : #d1ebff;
$bg-primary-darker : darken($bg-primary, 4%);
$bg-primary-dark : darken($bg-primary, 7%);
$bg-primary-lighter : lighten($bg-primary, 4%);
$bg-primary-light : lighten($bg-primary, 7%);

$gray-0: #000;
$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #ccc;
$gray-5: #fff;

$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;



$color-1:                 #bc8dbe;
$color-2:                 #5c6cb2;
$color-3:                 #d84b83;
$color-4:                 #e77878;
$color-5:                 #69a7db;
$color-6:                 #8bccb8;
$color-7:                 #83c25b;
$color-8:                 #2e3c95;
$color-9:                 #9c1e23;
$color-0:                 #087139;


//== Base layout
//
//##

$screen-xs-min:           480px;
$screen-sm-min:           768px;
$screen-md-min:           992px;
$screen-lg-min:           1200px;

$main-max-width:          $screen-md-min;
//$body-bg:
// Jumbotron 등에서 사용
$body-black-bg:           #ddd;

//** 우선적 z-index 값
// Header, Footer 등이 다른 컨텐츠보다 우선적으로 보여야 하는 경우 사용
$main-high-zindex:        100;

//** 페이지 구성요소 구분선
$main-default-border:     #9f9f9f;


//== Side navigation
//
//##

$side-nav-width:          220px;
$side-nav-zindex:         $main-high-zindex * 2;
$side-nav-overlay:        rgba(0, 0, 0, .7);


//== Header
//
//##

//** 네비게이션바
$navbar-border-radius:    0;
$navbar-default-border:   $main-default-border;

$header-tb-top-pos:       -23px;
$header-tb-right-pos:     12px;
$header-tb-font-size:     8pt;
$header-tb-gap:           12px;
$header-tb-text-color:    #666666;

$header-img-width:        273px;

$header-vertical-base-margin:     19px;
$header-vertical-large-margin:    35px;

$header-gnb-width:        992px;
$header-col-margin:       5px;
$header-col-padding:      15px;
$main-service-bg:        #ffffff;


//== Footer
//
//##

$footer-margin-top:       21px;
$footer-margin-bot:       31px;

$footer-img-width:        103px;
$footer-img-top-pos:      5px;
$footer-img-left-pos:     15px;
$footer-img-gap:          32px;

$footer-font-size:        $font-size-xm;
$footer-text-color:       #grey;
$footer-line-height:      15pt;


//== Service
//
//##

$service-base-border:     $main-default-border;
$service-base-shadow:     0 0 15px 2px #000000;
$service-category-bg:     rgba(255, 255, 255, .6);

$service-title-font-size: 35pt;

$service-padding-vertical:      26px;
$service-padding-horizontal:    22px;

$service-lnb-padding:     14px 0 26px 16px;
$service-lnb-item-gap:    6px;
$service-lnb-selected-border:    4px;

$dropdown-link-hover-bg: $bg-primary-lighter;

$input-color-placeholder: #999 !default;