<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 text-center" style="padding-top: 5px;">
        문제가 있으면 연락주세요<br>
        <span class="text-muted">M. yoonjs0510@kaist.ac.kr T. 010-6641-1621</span>
      </div>
      <div class="col-xs-24 text-center" style="padding-top: 5px;">
        Developed by namsan<br>
        <span class="text-muted">M. namsan@kaist.ac.kr T. 010-2966-2436</span>
      </div>
    </div>
  </div>
</nav>
