<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={% url 'main' %}>새터 사전 조사</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 't_size' %}">티셔츠 사이즈 조사</a></li>
        <li><a href="{% url 'club_list' %}">공연 동아리 투표</a></li>
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#}
{#          공연 동아리 투표<span class="caret"></span>#}
{#          </a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a href="{% url 'club_list' %}?is_band=1">밴드 동아리 목록</a></li>#}
{#            <li><a href="{% url 'club_list' %}?is_band=0">비밴드동아리 목록</a></li>#}
{#          </ul>#}
{#        </li>#}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">
        {% if user.is_authenticated %}
        {{ user.portal_info.ku_kname }}
        {% else %}
        GUEST
        {% endif %}
        </p></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'ksso:logout' %}" class="btn btn-default navbar-btn" style="padding-top:5px; padding-bottom:5px">Logout</a></li>
        {% else %}
        <li><a href="{% url 'ksso:login' %}?next={{ request.path }}" class="btn btn-default navbar-btn" style="padding-top:5px; padding-bottom:5px">Login</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
