{% extends 'manager/app_base.jinja' %}

{% from 'ksso/macros.jinja' import name %}
{% from 'board/macros.jinja' import make_tag %}

{% block content %}
<div id="post-wrap">
  <div id="post-header" class="clearfix">
    <div id="post-title">
    {%- if post.content_en and post.content_ko -%}
      <i class="fa fa-globe"></i>
    {%- endif %}
    {% if post.is_secret -%}
      <i class="fa fa-lock"></i>
    {%- endif %}
      {{ post.title }}
      <div class='pull-right'>
      {% if post.is_commentable() %}
        <span class="debate-state debate-ongoing">{{ _('논의중') }}</span>
      {% elif (post.is_closed or post.is_over_due()) %}
        <span class='debate-state debate-finished'>{{ _('종료') }}</span>
      {% else %}
        <span class='debate-state debate-waiting'>{{ _('청원중') }}</span>
      {%- endif -%}
      </div>
    </div>
    <div id="post-info">
      <div class="pull-left">
        {% if post.tag %}<span class="margin-right">{{ make_tag(board, post.tag) }}</span>{% endif %}
        {{ name(post.author) }}<span class="margin-both">|</span>
      {{ post.date.strftime('%y-%m-%d') }} ~ {{ post.due_date.strftime('%y-%m-%d')}}
    </div>
      <div class="pull-right">{{ _('조회수') }}<span class="margin-both">|</span>{{ post.get_hits() }}</div>
    </div>
  </div>

  <div id="post-content">{{ post.content }}</div>

  <div id="post-vote" class="text-center">
    <form action="{{ post.get_absolute_url() }}/vote/up/" id="post-up">{% csrf_token %}
      <button type="button" class="btn btn-default"><i class="fa fa-thumbs-o-up"></i> <span class="vote-status">{{ post.vote_up }}</span>명</button>
    </form>
  </div>

  {% if files %}
  <div id="attached-file">
    <p><b>{{ _('첨부파일') }}</b></p>
  {% for file in files %}
    <p><a href="{{ file.get_absolute_url() }}">{{ file }} ({{ file.get_file_size()|filesizeformat }})</a></p>
  {% endfor %}
  </div>
  {% endif %}

  <div id="comment-list">
  {% for comment in comments %}
    {% include 'board/comment.jinja' %}
  {% endfor %}
  </div>
  <div id="deleted-comment-content" style="display: none;">{{ _('삭제되었습니다.') }}</div>
  <div id="delete-comment-warning" style="display: none;">{{ _('댓글을 정말 삭제할까요?') }}</div>

  {% if post.is_permitted(request.user, PERM_COMMENT) and post.is_commentable() %}
  {% include 'board/comment_form.jinja' %}
  {% endif %}
  <div id="comment-no-input" style="display: none;">{{ _('댓글 내용을 입력해주세요.') }}</div>

  {% if post.is_permitted(request.user, PERM_EDIT) and not post.is_closed -%}
  <div id="post-func">
    <div class="pull-right">
      <a href="{{ post.get_absolute_url() }}/edit/" class="btn btn-sm btn-default">{{ _('수정') }}</a>
      {% if post.is_permitted(request.user, PERM_DELETE) -%}
      <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#delete-modal">{{ _('삭제') }}</a>
      {%- endif %}
    </div>
  </div>
  {% endif %}
</div>

{% include 'board/debate/debate_list.jinja' %}

{% if post.is_permitted(request.user, PERM_DELETE) %}
<div id="delete-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ _('삭제') }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ _('게시글을 정말 삭제할까요?') }}</p>
      </div>
      <form class="modal-footer" method="post" action="{{ post.get_absolute_url() }}/delete/">
        {% csrf_token %}
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('취소') }}</button>
        <button type="submit" class="btn btn-danger">{{ _('삭제') }}</a>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
