{% extends 'manager/app_base.jinja' %}

{% from 'board/macros.jinja' import form_group %}

{% block content %}
<form id="post-form" method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <div id="post-form-lang-ko" class="post-form-lang">
    {% call(field) form_group(form.title_ko) %}
    <input id="{{ field.id_for_label }}" type="text" name="{{ field.html_name }}" placeholder="{{ field.label }}" class="form-control" value="{{ field.value() or '' }}" required />
    {% endcall %}
    {% call(field) form_group(form.content_ko) %}
      <textarea id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{{ field.label }}" rows=18 class="form-control" style="resize: none;" required>{{ field.value() or '' }}</textarea>
    {% endcall %}
  </div>
  <div id="post-form-lang-en" class="post-form-lang" style="display: none;">
    {% call(field) form_group(form.title_en) %}
    <input id="{{ field.id_for_label }}" type="text" name="{{ field.html_name }}" placeholder="{{ field.label }}" class="form-control" value="{{ field.value() or '' }}" required />
    {% endcall %}
    {% call(field) form_group(form.content_en) %}
      <textarea id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{{ field.label }}" rows=18 class="form-control" style="resize: none;" required>{{ field.value() or '' }}</textarea>
    {% endcall %}
  </div>
  <div id="post-lang-func" class="row">
    <div class="col-sm-3">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button" post-lang="ko" class="post-lang btn btn-primary active">{{ _('한국어') }}</button>
        </div>
        <div class="btn-group">
          <button type="button" post-lang="en" class="post-lang btn btn-default">{{ _('영어') }}</button>
        </div>
      </div>
    </div>
  </div>
  <p class="help-block">
    {{ _('다국어 지원 기능입니다. 번역을 하지 않은 언어 입력란은 빈칸으로 놔두시길 바랍니다.') }}<br />
    {{ _('최소한 제목은 번역해주시길 바랍니다. 글 작성 이후 수정을 통해 추가 번역이 가능합니다.') }}
  </p>
  <div id="file-func">
  {% for file in files %}
    <div class="prev-file">
      <input type="hidden" name="prev_files" value="{{ file.id }}">
      <div class="prev-file-name">{{ file }}</div>
      <span class="prev-file-del">{{ _('삭제하기') }}</span>
    </div>
  {% endfor %}
    <div id="attach-file-wrap">
      <div class="attach-file">
        <input type="file" name="files">
        <span class="file-more">{{ _('더 첨부하기') }}</span>
      </div>
    </div>
  </div>
  <div id="file-del-desc" style="display: none;">{{ _('삭제하기') }}</div>
  <div class="form-inline">
    {% if board.is_permitted(request.user, PERM_EDIT) %}
    {% call(field) form_group(form.is_notice) %}
      <label class="checkbox-inline">
        <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}"{% if field.value() %} checked{% endif %}> {{ field.label }}
      </label>
    {% endcall %}
    {% endif %}
    {% call(field) form_group(form.is_closed) %}
      <label class="checkbox-inline">
        <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}"{% if field.value() %} checked{% endif %}> {{ field.label }}
      </label>
    {% endcall %}
    {% call(field) form_group(form.tag) %}
      <select id="{{ field.id_for_label }}" class="form-control" name="tag">
        <option value{% if not form.initial.tag %} selected="selected"{% endif %} >---- {{ _('태그') }} ----</option>
      {% for choice in field.field.queryset %}
        <option value="{{ choice.id }}"{% if choice.id == form.initial.tag %} selected="selected"{% endif %}>{{ choice }}</option>
      {% endfor %}
      </select>
    {% endcall %}
    {% call(field) form_group(form.due_date) %}
      {{ field.label }} 
      <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value() or '' }}" required> 
    {% endcall %}
    <div class="pull-right">
      <button type="submit" class="btn btn-primary">{{ _('등록') }}</button>
    </div>
  </div>
</form>
{% endblock %}
