{% extends 'error/base.jinja' %}

{% block error_title %}
{{ _("잘못된 요청입니다.") }}
{% endblock %}

{% block error_message %}
{{ _("요청하신 내용을 다시 한 번 확인해주세요.") }}
{% endblock %}

{% block error_button %}
<a class="btn btn-default btn-lg" href="/">{{ _("메인 페이지로") }}</a>
{% endblock %}
