{% extends 'error/base.jinja' %}

{% block error_title %}
페이지가 존재하지 않습니다.
{% endblock %}

{% block error_message %}
클릭하신 링크가 잘못되었거나 페이지가 제거되었습니다.
{% endblock %}

{% block error_button %}
<a class="btn btn-default btn-lg" href="/">메인 페이지로</a>
{% endblock %}
