<div id="banner-carousel-{{bannerCarousel.id}}" class="banner-carousel carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for banner in bannerCarousel.banners.all() %}
    <li data-target="#banner-carousel-{{bannerCarousel.id}}" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for banner in bannerCarousel.banners.all() %}
    <div class="item {% if loop.index0 == 0 %}active{% endif %}">
      {% include 'board/banner.jinja' %}
    </div>
    {% endfor %}
  </div>
</div>