{% if board_banner %}
  <div id="board-banner" class="alert alert-info" style="margin: 0; border: 0; border-radius: 0;">
    <a href="{{board_banner.url}}"><b>{{board_banner.text}}</b></a>
    {% if request.user.is_superuser %}
      <div class="pull-right">
        <a class="btn btn-link" href="{{ current_path }}/banner/edit/" style="padding: 0">{{ _('수정') }}</a>
        <button id="delete-board-banner" class="btn btn-link" style="padding: 0; margin: 0;">{{ _('삭제') }}</button>
      </div>
      <div 
        id="delete-board-banner-context" 
        data-current-url="{{ current_path }}"
        data-url="{{ current_path }}/banner/{{board_banner.id}}/delete/">
      </div>
      {% csrf_token %}
    {% endif %}
  </div>
{% elif request.user.is_superuser %}
  <!-- 보드 배너가 없음을 알리고 추가 버튼 생성-->
  <div id="board-banner" class="alert alert-info" style="margin: 0; border: 0; border-radius: 0;">
    <b>{{ _('게시판 배너가 등록되지 않았습니다. 필요할 경우 등록 버튼을 눌러주세요.') }}</b>
    <div class="pull-right">
      <a href="{{ current_path }}/banner/new/">{{ _('등록') }}</a>
    </div>
  </div>
{% endif %}