{% extends 'manager/app_base.jinja' %}

{% from 'board/macros.jinja' import make_tag %}

{% block content %}
<div id="board-header">
  <h1 id="board-title" class="text-center">{{ board.name }}</h1>

  {% if board.tabs %}
  <ul class="nav nav-tabs">
    {% for _tab in board.tabs %}
      <li role="presentation" {% if tab == _tab %}class="active"{% endif %}><a href="{{_tab.get_absolute_url()}}">{{_tab.name}}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% if board.check_role(BOARD_ROLE['DEBATE']) %}
	{% include 'board/post_list/post_list_debate.jinja' %}
{% elif board.check_role(BOARD_ROLE['PLANBOOK']) %}
	{% include 'board/post/pdf_post.jinja' %}
{% elif board.check_role(BOARD_ROLE['ARCHIVING']) %}
  {% include 'board/post_list/post_list_archiving.jinja' %}
{% else %}
	{% include 'board/post_list/post_list.jinja' %}
{% endif %}
  
{% endblock %}
