{% from 'ksso/macros.jinja' import name %}
<form  id="commentAttached-form" action = "{{ post.get_absolute_url() }}/commentAttached/"  method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
	<textarea class="form-control custom-control" name="content" rows="6" style="resize: none;"></textarea>
	<div id = "file-func">
	    <div id="attach-file-wrap">
	      <div class="attach-file">
	        <input type="file" name="files">
	        <span class="file-more">{{ _('더 첨부하기') }}</span>
	      </div>
	    </div>
	</div>
	<button id="btn-commentAttached-form" class="input-group-addon btn btn-primary" type="submit">{{ _('등록') }}</button>	
	
	
</form>
<div id="comment-no-input" style="display: none;">{{ _('댓글 내용을 입력해주세요.') }}</div>
