<div id="comment-id-{{ comment.id }}" class="comment">
  <div class="comment-header">{{ comment.author }}<span class="margin-both">|</span>{{ comment.date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
  <div class="comment-content">{{ comment.content }}</div>
</div>
