{% from 'ksso/macros.jinja' import name %}

<div id="comment-id-{{ comment.id }}" class="comment">
  <div class="comment-header clearfix">
    <div class="pull-left">
      {{ name(comment.author) }}<span class="margin-both">|</span>{{ comment.date.strftime('%Y-%m-%d %H:%M:%S') }}
    </div>
    {% if comment.is_permitted(request.user, PERM_DELETE) %}
    <form action="{{ comment.get_absolute_url() }}/delete/" class="pull-right">{% csrf_token %}
      <i class="comment-remove fa fa-times"></i>
    </form>
    {% endif %}
  </div>
  {%- if comment.is_permitted(request.user, PERM_READ) -%}
    <div class="comment-content">
      {{ comment.content }}
    </div>
    {% if comments_files %}
    {% if comments_files[comment.id] %}
      <div id="attached-file-comment">
      {{ _('첨부파일') }}
      <p></p>
      {% for file in comments_files[comment.id] %}
        <p><a href="{{ file.get_absolute_url() }}">{{ file }} ({{ file.get_file_size()|filesizeformat }})</a></p>
      {% endfor %}
      </div>
    {% endif %}
    {% endif %}

  {%- else -%}
  <div class="comment-content">{{ _("삭제되었습니다.") }}</div>
  {%- endif -%}
  
</div>

