{% from 'ksso/macros.jinja' import name %}

<div id="comment-id-{{ comment.id }}" class="comment">
  <div class="comment-header clearfix">
    <div class="pull-left">
      {{ name(comment.author) }}<span class="margin-both">|</span>{{ comment.date.strftime('%Y-%m-%d %H:%M:%S') }}
    </div>
    {% if comment.is_permitted(request.user, PERMISSION_DELETABLE) %}
    <form action="{{ comment.get_absolute_url() }}/delete/" class="pull-right">{% csrf_token %}
      <i class="fa fa-times"></i>
    </form>
    {% endif %}
  </div>
  <div class="comment-content">
  {% if comment.is_permitted(request.user, PERMISSION_READABLE) %}
    {{ comment.content }}
  {% else %}
    {{ _("삭제되었습니다.") }}
  {% endif %}
  </div>
</div>
