{% extends 'manager/app_base.jinja' %}

{% from 'board/macros.jinja' import make_tag %}

{% block content %}
<div id="post-wrap">
  <div id="post-header" class="clearfix">
    <div id="post-title">{{ post.title }}</div>
    <div id="post-info">
      <div class="pull-left">{{ post.author }}<span class="margin-both">|</span>{{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
      <div class="pull-right">{{ _('조회수') }}<span class="margin-both">|</span>0</div>
    </div>
  </div>

  <div id="post-content">{{ post.content }}</div>

  <div id="comment-list">
  {% for comment in comments %}
    {% include 'board/comment.jinja' %}
  {% endfor %}
  </div>

  <div id="comment-form" class="input-group">
    <textarea class="form-control custom-control" rows="6" style="resize: none;"></textarea>
    <span class="input-group-addon btn btn-primary" type="button">{{ _('등록') }}</span>
  </div>

  <div id="post-func">
    <div class="pull-right">
      <a href="{{ post.get_absolute_url() }}/edit/" class="btn btn-sm btn-default">{{ _('수정') }}</a>
      <a href="{{ post.get_absolute_url() }}/delete/" class="btn btn-sm btn-default">{{ _('삭제') }}</a>
    </div>
  </div>
</div>

{% include 'board/post_list.jinja' %}

{% endblock %}
