<form id="comment-form" class="input-group">{% csrf_token %}
    <textarea class="form-control custom-control" name="content" rows="6" style="resize: none;"></textarea>
    <span id="btn-comment-form" class="input-group-addon btn btn-primary" type="button">{{ _('등록') }}</span>
</form>