<div id="comment-list">
{% for comment in comments %}
  {% include 'board/comment.jinja' %}
{% endfor %}
</div>
<div id="deleted-comment-content" style="display: none;">{{ _('삭제되었습니다.') }}</div>
<div id="delete-comment-warning" style="display: none;">{{ _('댓글을 정말 삭제할까요?') }}</div>

{% if board.role == BOARD_ROLE_DEBATE %}
	{% if post.is_permitted(request.user, PERM_COMMENT) and post.is_commentable() %}
	{% include 'board/comment_form.jinja' %}
	{% endif %}
{% else %}
	{% if post.is_permitted(request.user, PERM_COMMENT) %}
	 <form id="comment-form" enctype="multipart/form-data" class="input-group">{% csrf_token %}
	   <textarea class="form-control custom-control" name="content" rows="6" style="resize: none;"></textarea>
	   <span id="btn-comment-form" class="input-group-addon btn btn-primary" type="button">{{ _('등록') }}</span>
	 </form>
  {% endif %}
{% endif %}

<div id="comment-no-input" style="display: none;">{{ _('댓글 내용을 입력해주세요.') }}</div>