{% from 'board/macros.jinja' import debate_state %}

<div id="post-header" class="clearfix">
  <div id="post-title">
  {%- if post.content_en and post.content_ko -%}
    <i class="fa fa-globe"></i>
  {%- endif %}
  {% if post.is_secret -%}
    <i class="fa fa-lock"></i>
  {%- endif %}
  {% if post.is_pledge %}
    <i class="fa fa-handshake-o" title="{{_('공약')}}"></i>
  {% endif %}
  {{ post.title }}
  {% if board.role == BOARD_ROLE_DEBATE %}
  {% from 'board/macros.jinja' import debate_state %}
    <div class='pull-right'>
      {{ debate_state(post)}}
    </div>
  {% endif %}
  </div>
  <div id="post-info">
    <div class="pull-left">
      {% if post.tag %}
      <span class="margin-right">{{ make_tag(board, post.tag, post.get_first_tab()) }}</span>
      {% endif %}
      {{ name(post.author) }}
      <span class="margin-both">|</span>
      {% if board.role == BOARD_ROLE_DEBATE %}
      {{ post.date.strftime('%Y/%-m/%-d') }} ~ {{ post.due_date.strftime('%Y/%-m/%-d')}}
      {% else %}
      {{ post.date.strftime('%Y/%-m/%-d %H:%M:%S') }}
      {% endif %}
    </div>
    <div class="pull-right">{{ _('조회수') }}<span class="margin-both">|</span>{{ post.get_hits() }}</div>
  </div>
</div>