<div id="post-form-schedules" class="form-inline">
    <div class="input-group">
        <button id="schedule-dropdown-button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <input id="schedule-dropdown-placeholder" type="hidden" value="{{_('일정')}}" />
            <input id="selected-schedule-index" type="hidden" value="{% if schedules %}0{% else %}-1{% endif %}">
            <span id="selected-schedule-title-ko" class="selected-schedule-title placeholder">
                {% if schedules %}
                {{schedules[0].title_ko}}
                {% else %}
                {{_('일정')}}
                {% endif %}
            </span>
            <span id="selected-schedule-title-en" class="selected-schedule-title placeholder">
                {% if schedules %}
                {{schedules[0].title_en}}
                {% else %}
                {{_('일정')}}
                {% endif %}
            </span>
            <span class="caret"></span>
        </button>
        <ul id="schedule-titles" class="dropdown-menu">
            {% for schedule in schedules %}
                <li {% if loop.index0 == 0 %}class="selected"{% endif %}>
                    <input type="hidden" name="schedules" value='{"id":{{schedule.id}}, "title_ko":"{{schedule.title_ko}}", "title_en":"{{schedule.title_en}}", "date":"{{schedule.date}}"}'>
                    <a class="schedule-title-container">
                        <span class="schedule-title-ko schedule-title">{{schedule.title_ko}}</span>
                        <span class="schedule-title-en schedule-title">{{schedule.title_en}}</span>
                        <i class="schedule-delete fa fa-times"></i>
                    </a>
                </li>
            {% endfor %}
            <li id="schedule-add-input-li">
                <input type="text" id="schedule-add-input-ko" class="schedule-add-input form-control" />
                <input type="hidden" id="schedule-add-input-placeholder-ko" value="{{_('일정 [ko]')}}" />
                <input type="text" id="schedule-add-input-en" class="schedule-add-input form-control" />
                <input type="hidden" id="schedule-add-input-placeholder-en" value="{{_('일정 [en]')}}" />
                <span class="input-group-btn">
                    <button id="schedule-add-submit" class="btn btn-default" type="button" disabled>
                        <i class="fa fa-check text-success"></i>
                    </button>
                </span>
            </li>
            <li id="schedule-add-button-li"><i id="schedule-add-button" class="fa fa-plus"></i></li>
        </ul>
        <div class="form-group">
            <div class='input-group date' id='schedule-datetimepicker'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>   
  </div>