{% extends 'manager/app_base.jinja' %}

{% from 'board/macros.jinja' import form_group %}

{% block content %}
<form id="post-form" method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  {% include 'board/post_form/post_form_text_contents.jinja' %}
  {% include 'board/post_form/post_form_files.jinja' %}
  {% include 'board/post_form/post_form_checkboxs.jinja' %}
  {% include 'board/post_form/post_form_selectors.jinja' %}
  {% if form.__class__.__name__ == 'ProjectPostForm' %}
    {% include 'board/post_form/post_form_schedules.jinja' %}
  {% endif %}
  <button type="submit" class="col-xs-12 btn btn-primary">{{ _('등록') }}</button>
</form>
{% endblock %}
