<div class="form-inline">
    {% if board.is_permitted(request.user, PERM_EDIT) %}
    {% call(field) form_group(form.is_notice) %}
      <label class="checkbox-inline">
        <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}"{% if field.value() %} checked{% endif %}> {{ field.label }}
      </label>
    {% endcall %}
    {% endif %}
    {% call(field) form_group(form.is_secret) %}
      <label class="checkbox-inline">
        <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}"{% if field.value() %} checked{% endif %}> {{ field.label }}
      </label>
    {% endcall %}
    {% if form.__class__.__name__ == 'ProjectPostForm' %}
    {% call(field) form_group(form.is_pledge) %}
      <label class="checkbox-inline">
        <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}"{% if field.value() %} checked{% endif %}> {{ field.label }}
      </label>
    {% endcall %}
    {% endif %}
</div>