{% extends "base/layout.html" %}
{% load staticfiles %}

{% block stylesheets %}
<style type="text/css">
  a:hover {
    text-decoration: none;
  }
</style>
{% endblock %}

{% block contents %}
<div class="row">
  <div class="col-xs-12">
    <div class="page-header text-center">
      {% if not request.GET.is_band %}
      <h3>전체 동아리 목록</h3>
      {% elif  request.GET.is_band == '1' %}
      <h3>밴드 동아리 목록</h3>
      {% elif  request.GET.is_band == '0' %}
      <h3>비밴드 동아리 목록</h3>
      {% endif %}
      <h5>클릭해서 동아리 소개를 보고 투표할 수 있습니다.</h5>
    </div>
  </div>
  {% for club in clubs %}
  <div class="col-xs-12">
    <a href="{% url 'club_detail' club.pk %}" class="alert alert-info btn-block text-center">
      {{ club.name }}
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}