{% extends "base/layout.html" %}
{% load staticfiles %}

{% block stylesheets %}
<style type="text/css">
  a:hover {
    text-decoration: none;
  }
</style>
{% endblock %}

{% block contents %}
<div class="row">
  <div class="col-xs-12">
    <div class="page-header text-center">
      {% if not request.GET.is_band %}
      <h3>전체 동아리 목록</h3>
      {% elif  request.GET.is_band == '1' %}
      <h3>밴드 동아리 목록</h3>
      {% elif  request.GET.is_band == '0' %}
      <h3>비밴드 동아리 목록</h3>
      {% endif %}
      <h5>클릭해서 동아리 소개를 보고 투표할 수 있습니다.</h5>
    </div>
  </div>
  {% for club in clubs %}
  <div class="col-xs-12 col-sm-6 col-md-4" data-href="{% url 'club_detail' club.pk %}" style="cursor: pointer;">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>{{ club.name }}</h2>
        {% for image in club.images.all %}
          {% if image.is_main %}
            <img src="{{ image.image.url }}" style="width: 100%; height: auto;">
          {% endif %}
        {% endfor %}
        <div class="">
          {{ club.one_line_intro }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
  <script>
    $('div[data-href]').on('click', function() {
        location.href = $(this).data('href');
    })
  </script>
{% endblock %}
