{% extends "base/layout.html" %}
{% load staticfiles %}

{% block stylesheets %}
<style type="text/css">
  a:hover {
    text-decoration: none;
  }
</style>
{% endblock %}

{% block contents %}
<div class="row">
  <div class="col-xs-12">
    <div class="page-header text-center">
      {% if not request.GET.is_band %}
      <h3>전체 동아리 목록</h3>
      {% elif  request.GET.is_band == '1' %}
      <h3>밴드 동아리 목록</h3>
      {% elif  request.GET.is_band == '0' %}
      <h3>비밴드 동아리 목록</h3>
      {% endif %}
      <h5>클릭해서 동아리 소개를 보고 투표할 수 있습니다.</h5>
    </div>
  </div>
  {% for club in clubs %}
  <div class="col-xs-12 col-sm-6 col-md-4" data-href="{% url 'club_detail' club.pk %}" style="cursor: pointer;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{{ club.name }}</h4>
      </div>
      <div class="panel-body text-center" style="position: relative; width: 100%; padding-top: 56.25%;">
        <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
          {% for image in club.images.all %}
            {% if image.is_main %}
              <img src="{{ image.image.url }}" style="max-width: 100%; max-height: 100%; object-fit: cover;">
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="panel-footer">
        <p class="text-muted" style="margin-bottom: 0;">{{ club.one_line_intro }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
  <script>
    $('div[data-href]').on('click', function() {
        location.href = $(this).data('href');
    })
  </script>
{% endblock %}
