//
// Footer
// --------------------------------------------------


#footer {
  position: relative;
  z-index: $main-high-zindex;
  border-top: 1px solid $main-default-border;
  background-color: $body-bg;
}

#footer-wrapper {
  padding-top: $footer-margin-top;
}

#footer-container {
  position: relative;
  margin-bottom: $footer-margin-bot;
  img {
    position: absolute;
    top: $footer-img-top-pos;
    left: $footer-img-left-pos;
    width: $footer-img-width;
  }
  p {
    margin: 0;
    padding-left: $footer-img-width + $footer-img-gap;
    font-size: $footer-font-size;
    color: $footer-text-color;
    line-height: $footer-line-height;
  }
  a {
    @include disable-effect();
  }
  .div-line {
    margin: 0 4px;
  }
}
