//
// Side navigation
// --------------------------------------------------

#side-user-info {
  margin: 32px 0;
  p {
    margin-bottom: 16px;
    font-size: $font-size-lg;
  }
}

#side-nav {
  border-width: 1px 0;
}
