{% macro contact_info(contact, class='') -%}
<div class="contact">
  <div class="contact-wrapper">
  <div class="contact-title">
    <h4>{{contact.name}}</h4>
  </div>

  <div class = "contact-body">
    <p class="contact-text">{{contact.content}}</p>
    <span class='contact-phone'>{{_("연락처")}}:{{contact.phone}}</span>
    <a href='{{contact.url}}' target="_blank" class="contact-link pull-right">{{_('기구 페이지로 이동')}}</a>
  </div>
 {% if board.is_permitted(request.user, PERM_EDIT) %} 
  <div class='contact-func'>
    <a href="{{ contact.get_absolute_url() }}/edit/" class="btn btn-sm btn-default">{{ _('수정') }}</a>
    {% if board.is_permitted(request.user, PERM_DELETE) -%}
    <a href="#" class="btn btn-sm btn-default" data-toggle="modal" data-target="#delete-modal-{{contact.id}}"> {{ _('삭제') }}</a>
    {%- endif %}
  </div>
  {% endif %}

  {% if contact.is_permitted(request.user, PERM_DELETE) %}
  <div id="delete-modal-{{contact.id}}" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{ _('삭제') }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ _('게시글을 정말 삭제할까요?') }}</p>
        </div>
        <form class="modal-footer" method="post" action="{{ contact.get_absolute_url() }}/delete/">
          {% csrf_token %}
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('취소') }}</button>
          <button type="submit" class="btn btn-danger">{{ _('삭제') }}</button>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
</div>  
{%- endmacro -%}

<div id='contact-list'>
{% for contact in posts %}
{% if not contact.is_deleted %}
	{{ contact_info(contact) }}
{% endif %}
{% endfor %}
</div>

<div>
    <form action="." method="get" id="search-form" class='pull-right'>
        {% if board.is_permitted(request.user, PERM_WRITE) %}
          <a href="{{current_path}}/new/" class="btn btn-primary">{{ _('기구 추가') }}</a>
        {% endif %}
    </form>
</div>
    


