{% from 'board/macros.jinja' import make_tag, post_title_postfix %}

{% macro post_info_min(post) -%}
  <tr onclick="location.href='{{ post.get_absolute_url() }}';">
    <td class="text-left">
    {%- if post.tag -%}
      <span class="margin-right">{{ make_tag(board, post.tag) }}</span>
    {%- endif -%}
      <span class="post-list-title">
      {%- if post.is_deleted -%}
        {{ _('삭제되었습니다.') }}
      {%- elif post.is_secret -%}
      {% if post.is_permitted(request.user, PERM_READ) -%}
        {{ post.title }}
      {%- else -%}
        {{ _('비밀글입니다.') }}
      {%- endif -%}
      {%- else -%}
        {{ post.title }}
      {%- endif -%}
      {{ post_title_postfix(post)}}
      </span>
    </td>
    <td class="text-right">{{ post.date.strftime('%Y/%m/%d') }}</td>
  </tr>
{%- endmacro -%}

<table class="main-board table table-hover">
  <caption class="clearfix">
    <div class="pull-left"><a href="{{ board.get_absolute_url() }}">{{ board.name }}</a></div>
    <button class="pull-right btn btn-sm btn-default" onclick="location.href='{{ board.get_absolute_url() }}';">More</button>
  </caption>
  <tbody>
    {% for post in board.post_set.all()[:5] %}
    {{ post_info_min(post) }}
    {% endfor %}
  </tbody>
</table>
